.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.nowrap {
  white-space: nowrap;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
