.table {
  display: table;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
}

.inline {
  display: inline;
}

.vertical-center {
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// .horizontal-center {
//   margin-left: 0;
//   margin-right: 0;
//   position: absolute;
//   left: 50%;
//   -ms-transform: translateX(-50%);
//   transform: translateX(-50%);
// }

// .center {
//   @extend .horizontal-center;
//   @extend .vertical-center;
// }

.horizontal-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bold {
  font-weight: bold;
}

.bolder {
  font-weight: 550;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.nowrap {
  white-space: nowrap;
}

.border-thick {
  border: $width-border-thick solid #ccc;
}

.border-thin {
  border: $width-border-thin solid #ccc;
}

.border-top-thick {
  border-top: $width-border-thick solid #ccc;
}

.border-right-thin {
  border-right: $width-border-thin solid #ccc;
}

.border-right-thick {
  border-right: $width-border-thick solid #ccc;
}

.border-bottom-thick {
  border-bottom: $width-border-thick solid #ccc;
}

.border-bottom-thin {
  border-bottom: $width-border-thin solid #ccc;
}

.border-left-thick {
  border-left: $width-border-thick solid #ccc;
}

.border-left-thin {
  border-left: $width-border-thin solid #ccc;
}


.border-solid {
  border-color: grey;
  border-style: solid;
}

.smaller {
  font-size: smaller !important;
}

.small {
  font-size: small !important;
}

.larger {
  font-size: 1.1em !important;
}

.large {
  font-size: large !important;
}

.h1 {
  font-size: 2em !important; // 32px
  font-weight: bolder !important;
}

.h2 {
  font-size: 1.5em !important; // 24px
  font-weight: bolder !important;
}

.h25 {
  font-size: 1.25em !important; // 20px
  font-weight: bolder !important;
}

.h3 {
  font-size: 1.17em !important; // 18.72px
  font-weight: bolder !important;
}

.h4 {
  font-size: 1em !important; // 16px
  font-weight: bolder !important;
}

.h5 {
  font-size: .83em !important; // 13.28px
  font-weight: bolder !important;
}

.h6 {
  font-size: .67em !important; // 10.72px
  font-weight: bolder !important;
}


.red {
  color: #f00 !important;
}

.gray {
  color: #aaa !important;
}

.disabled {
  @extend .gray;
  font-style: italic;
}

.error {
  @extend .error-color;
  font-style: italic;
  font-size: small;
}

.info {
  @extend .info-color;
  font-style: italic;
  font-size: small;
}

.hidden {
  display: block;
  visibility: hidden;
}

.draggable {
  cursor: move;
}