html,
body {
  height: 100%;
}
body {
  @extend .body-color;
  margin: 0;
  font-family: Calibri, Ubuntu, sans-serif;
}

.main-header,
.main-footer {
  @extend .main-header-color;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 2em;
}

.content {
  @extend .content-color;
}

/***********************************
* Application-wide Styles
***********************************/

.info-panel,
.tooltip {
  @extend .tooltip-color;
  white-space: pre-line;
  padding: 10px;
}

/*************************************
* Container
*************************************/

header, section {
  @extend .horizontal-centered;
  width: 100%;
  max-width: $max-width-content;
}

.content .cell {
  min-width: 200px;
  padding: 10px 20px;
}

.content-header {
  @extend .content-header-color;
  padding: 10px 20px;
}

.dialog-header {
  @extend .content-header;
  @extend .draggable;
}

// .container {
//   @extend .center;
//   width: 90%;
//   padding-left: 5%;
//   padding-right: 5%;
//   min-height: 800px;
//   border: 1px red solid;
// }

// @media (min-width: 1200px) {
//   .container {
//     max-width: 1140px;
//   }
// }

// @media (min-width: 992px) {
//   .container {
//     max-width: 768px;
//   }
// }


/*******************************
* table
*******************************/

tr.vertical-top,
th.vertical-top,
td.vertical-top {
  vertical-align: top;
}

tr.left,
th.left,
td.left {
  text-align: left !important;
}

tr.center,
th.center,
td.center {
  text-align: center !important;
}

tr.right,
th.right,
td.right {
  text-align: right !important;
}

tr.header th,
tr.header td,
th.header,
td.header {
  @extend .larger;
  @extend .bold;
  @extend .content-header-color;
}

tr.sub-header th,
tr.sub-header td,
th.sub-header,
td.sub-header {
  @extend .bold;
  @extend .content-sub-header-color;
}

// tr.selected-row th,
// tr.selected-row td,
// th.selected-row,
// td.selected-row {
//   // color: $color-accent !important;
//   // color: #000 !important;
//   // background-color: $color-primary-light; // #eee;
//   // font-weight: bold;
//   // @extend .gray;
//   // background-color: #fff !important;
// }

tr.disabled-row th,
tr.disabled-row td,
th.disabled-row,
td.disabled-row {
  // color: $color-accent !important;
  // color: #000 !important;
  // background-color: $color-primary-light; // #eee;
  // font-weight: bold;
  @extend .gray;
  // background-color: #fff !important;
}




h2 {
  .title, .subtitle {
    @extend .italic;
  }
  .subtitle {
    @extend .gray;
    @extend .small;
    @extend .nowrap;
  }
}

.main-menu {
  @extend .content-header-color;
  width: $width-content;
  max-width: $max-width-content;
  padding: 0px 8px; // 24-16
  font-weight: bold !important;
  display: flex;
  justify-content: space-between;
}


/*******************************
* form
*******************************/

.form {
  width: $width-form-component;
}

.form-submit-buttons {
  display: flex;
  // justify-content: flex-end;
  // justify-content: space-evenly;

  button {
    width: 120px;
    // margin-left: 15px;
  }

  .secondary-button {
    background-color: $color-gray-dark;
  }
}


input.center {
  text-align: center !important;
}

input.right {
  text-align: right !important;
}