/***********************************
* Sizes
***********************************/
$width-24inch-widescreen: 1920px;
$width-22inch-widescreen: 1680px;

$max-width-content: 1080px;
$width-content: 848px;
$width-form-component: 800px;

// $max-width-content: 1200px;
// $width-content: 1200px;
// $width-form-component: 1100px;


$width-border-thin: 1px;
$width-border-thick: 3px;
